.booking-section .form-control{
    background-color: #f5f5f6;
    border-color: #f5f5f6;
    color: black;
    padding-bottom: 13px;
    margin-bottom: 15px;
}
.booking-section h3{
    text-transform: uppercase;
}
.booking-section .form-control:focus{
    border-color: var(--primaryClr);
    outline: none;
    box-shadow: unset;
}

.booking-section label{
    color: var(--textClr);
    font-weight: 600;
}
.react-datepicker-wrapper{
    width: 100%;
}
.pay{
    margin-left: 10px;
}
.form-label span{
    color: red;
}
.booking_image{
    width: 100%;
    border-radius: 15px;
}
.booking_name{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
}
.booking_title{
    color: var(--primaryClr);
}

.list-group-item span{
    font-weight: 600;
}
.list-group-item svg{
    margin-right: 8px;
    color: var(--primaryClr);
}
.booking_duration{
    margin-left: 20px;
}
.booking_price{
    color: var(--primaryClr);
}
.booking_old{
    font-size: 13px;
}
.container_old{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 20px;
    padding: 10px;
}
.booking_btn {
    width: 100%;
    margin-top: 25px;
}

.booking-count {
    border: 1px solid var(--primaryClr);
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 20px;
    padding: 10px;
}

.booking_number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 150px;
    padding: 5px;
    border-radius: 5px;
}

.booking-number span {
    margin: 0 15px;
    font-size: 18px;
}

.booking-plus,
.booking-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}
.booking-plus:hover,
.booking-minus:hover {
    background: var(--primaryClr);
}
.booking-information {
    display: flex;
    flex-direction: column;
}

.booking-label {
    font-size: 18px;
    font-weight: bold;
}

.booking-description {
    font-size: 14px;
    color: #555;
}

.form-section {
    margin: 20px 0;
}

.form-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -20px;
}
.age-info {
    font-size: 14px;
    color: #777;
}

.required {
    color: red;
}

.input-field {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px; 
}
.form-row .form-group {
    flex-basis: calc(33.33% - 10px); 
}

.date-picker-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.calendar-icon {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.form-group .form-control{
    margin-left: -10px;
}
.form-group select{
    width: 40%;
    height: 45px;
}
.date-picker-container input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.date-picker-container .react-datepicker__input-container input:focus {
    border-color: var(--primaryClr);
    outline: none;
}
.date-picker-container .react-datepicker__input-container input{
    background-color: #f5f5f6;
    
}
.date-picker-container .date-icon{
    position: absolute;
    left: 185px;
    font-size: 25px;
    cursor: pointer;
}
.cash-icon{
    position: relative;
    left: 117px;
    margin-top: -61px;
    font-size: 27px;
}
.transfer-icon {
    position: relative;
    left: 172px;
    margin-top: -64px;
    font-size: 27px;
}
.vnpay-icon{
    position: relative;
    left: 217px;
    margin-top: -66px;
    font-size: 25px;
}
.form-check .form-check-input{
    font-size: 25px;
    margin-left: -33px !important;
    margin-top: 0px !important;
}
.form-check .form-check-label{
    font-size: 20px;
}
.booking-check{
    background-color: #f5f5f6;
}
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-row .form-group {
        flex-basis: 100%;
    }
}
.page-order-booking__header--content h1 {
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #0b5da7;
}
.page-order-booking__status--content {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.booking-process {
    margin: 2rem 0;
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.booking-process__step {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.booking-process__step--number {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
}
.booking-process__step--number span {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
}
.booking-process__step--number-icon {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem;
}
.booking-process .step-current .booking-process__step--number-icon {
    background-color: #0b5da7;
}
.booking-process .step-current span {
    color: #0b5da7;
}
.booking-process__step--number-icon svg {
    transform: scale(1.3);
    font-size: 25px;
    color: #fff;
}
.booking-process__step--between {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    color: #b1b1b1;
    font-size: 20px;
}
.booking-process .step-uncomplete .booking-process__step--number-icon {
    background-color: #b1b1b1;
}
.booking-process .step-uncomplete span {
    color: #b1b1b1;
}
.transportation_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.transportation_column {
    width: 48%;
    padding-right: 15px;
    border-right: 1px solid #ddd;
}

.transportation_column:last-child {
    border: none;
    padding-right: 0; 
}

.transportation_time,
.transportation_location {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transportation_time span,
.transportation_location span {
    width: 45%;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.page-booking__header--content h1 {
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #0b5da7;
}
.page-success-booking__status--content {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.booking-process .step-complete .booking-process__step--number-icon {
    background-color: #70b400;
}
.booking-process .step-complete span {
    color: #70b400;
}
.page-booking--body__layout {
    padding-bottom: 3rem;
    margin-top: -60px;
}
.section-container {
    width: 78%;
}
.page-booking--body__layout--content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
}
.page-booking--body__layout--content--col-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
.page-booking--body--container__block {
    border: 1px solid #b1b1b1;
    border-radius: 1rem;
    background-color: #f8f8f8;
    width: 100%;
}
.page-booking--body--container__block--contact {
    padding: 2rem 2.5rem;
}
.block-title {
    color: #0b5da7 !important;
}
.block-title, .filter-sidebar-header {
    text-transform: uppercase;
    font-weight: 650;
    font-size: 20px;
}
.page-booking--body--container__block--divider {
    margin: 1.5rem 0;
    width: 100%;
}
.page-booking--body--container__block--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.page-booking--body--container__block--content__item {
    display: flex;
    flex-direction: column;
}
.page-booking--body--container__block--content__item span {
    font-size: 15px;
    font-weight: 750;
    margin: 0 0 .25rem;
    color: #171717;
}
.page-booking--body--container__block--content__item p {
    font-size: 15px;
    text-align: justify;
    margin: 0;
    font-weight: 500;
    line-height: 3rem;
    color: #171717;
}
.page-booking--body--container__block--content__item.user-note p {
    max-height: 20rem;
    overflow-y: auto;
    padding: 0 1.5rem 0 0;
}
.booking--container__block {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #f8f8f8 !important;
    width: 100%;
}
.booking--container__block--content h4 {
    font-size: 20px;
    font-weight: 650;
    text-transform: uppercase;
    color: #0b5da7;
}
.booking--container__block--divider {
    margin: 1.5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.booking--container__block--content__bookingDetail--item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
    padding: 7px;
}
.booking--container__block--content__bookingDetail--item label {
    font-size: 17px;
    font-weight: 650;
    margin: 0;
    width: 31%;
}
.booking--container__block--content__bookingDetail--item p {
    width: 75%;
    font-size: 17px;
    margin: 0;
    font-weight: 500;
    color: #171717 !important;
}
.booking--container__block--content__bookingDetail--item p span {
    color: #e01600;
    font-weight: 650;
    font-style: normal;
}
.booking--container__block--content__bookingDetail--item__button {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.title button {
    background-color: #f5f5f5; 
    transition: background-color 0.3s ease; 
    font-size: 20px;
    color: #0b5da7;
    font-weight: 650;
    text-transform: uppercase;
    padding: 20px;
}
.custom-accordion{
    width: 100%;
}
.accordion-body{
    background-color: #f5f5f5; 
    transition: background-color 0.3s ease; 
}
.collapse--content__divider{
    margin: 1rem 0 1.5rem;
    border-top: 1px solid #e5e5e5;
    width: 100%;
}
.paxList--table{
    width: 100%;
}
.paxList--table table {
    width: 100%;
    padding: 0 0 1rem;
    border-bottom: 1px solid #e5e5e5;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.paxList--table table th:first-child {
    width: 35%;
}
.paxList--table table td, .paxList--table table th {
    text-align: left;
    padding: 0 0 .8rem;
    font-size: 17px;
}
.paxList--mobile--item--total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 1rem 0 0;
    font-size: 18px;
    color: #171717 !important;
    font-weight: 600;
}
.paxList--mobile--item--total span{
    color: #e01600;
    font-weight: 550;
    font-size: 23px;
}
.page-booking--body__layout--content--col-2 {
    position: sticky;
    top: 100px; 
}
.page-booking--body--container__block--content__booking {
    padding: 2rem 2.5rem;
}
.page-booking--body--container__block--content label {
    font-size: 1.8rem;
    font-weight: 650;
    text-transform: uppercase;
    color: #0b5da7;
}
.page-booking--body--container__block--content__bookingConfirm {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.page-booking--body--container__block--content__bookingConfirm--title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 1rem;
}
.page-booking--body--container__block--content__bookingConfirm img {
    width: 45%;
    height: 100%;
    max-height: 15rem;
    object-fit: cover;
    border-radius: .5rem;
}
.page-booking--body--container__block--content__bookingConfirm--title a {
    text-decoration: none;
    color: #171717;
}
.page-booking--body--container__block--content__bookingConfirm--title h6 {
    font-size: 17px;
    font-weight: 650;
    margin: 0;
    line-height: 2.5rem;
    text-align: justify;
}
.page-booking--body--container__block--content__bookingConfirm--code p {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
    line-height: 3rem;
}
.page-booking--body--container__block--content__bookingConfirm--code p span {
    color: #e01600;
    font-weight: 650;
    margin-left: 12px;
}
.page-booking--body--container__block--content__bookingInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.page-booking--body--container__block--content__bookingInfo--item:first-child {
    margin: 0;
}
.page-booking--body--container__block--content__bookingInfo--item {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.page-booking--body--container__block--content__bookingInfo--item__title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    width: 28%;
}
.page-booking--body--container__block--content__bookingInfo--item__title label {
    font-size: 20px;
    font-weight: 650;
    color: #171717;
    margin: 0;
    text-transform: uppercase;
}
.page-booking--body--container__block--content__bookingInfo--item p {
    font-size: 17px;
    margin: 0;
    font-weight: 600;
    line-height: 3rem;
    color: #171717 !important;
}