.inner-banner-wrap .inner-banner-container{
    background-image: url("../../assets/images/slider/slider_3.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    text-align: center;
    background-size: cover;
    padding-top: 250px;
    position: relative;
}

.inner-banner-wrap .inner-banner-container:before {
    background-color: #151515;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: .65;
    position: absolute;
    top: 0;
    width: 100%;
}
.inner-banner-wrap .inner-banner-container .inner-banner-content {
    padding: 90px 0 75px;
    position: relative;
}

.navbar-link{
    background-color: slategray;
    padding: 12px;
}

.navbar-link .breadcrumb{
    padding: 0;
    margin: 0;
}

.navbar-link .breadcrumb .breadcrumb-item,
.navbar-link .breadcrumb a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}
.navbar-link .breadcrumb-item+.breadcrumb-item:before {
    color: #fff;
}
@media only screen and (max-width: 600px){
    .inner-banner-wrap .inner-banner-container{
        padding-top: 40px;
    }
}