@import "~react-image-gallery/styles/css/image-gallery.css";
.filter_box{
    padding: 20px 30px 30px;
    border: 1px solid #e7e6e6;
}
.filter_box .accordion-item{
    border-bottom: 1px solid #e7e6e6 !important;
}
.filter_box .accordion-item:last-child{
    border: none !important;

}

.filter_box .accordion-item,
.filter_box .accordion-item button{
    background: none;
    border: none;
    border-radius: 0;
}

.filter_box .accordion-item button{
    border: none !important;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 0px;
    box-shadow: none !important;
}
.filter_box .accordion-item button:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
.filter_box .accordion-item .accordion-body{
    padding: 0;
    margin-bottom: 15px;
}
.filter_box .accordion-item .accordion-body .form-check{
    margin-bottom: 10px;
}
.filter_box .accordion-item .accordion-body .form-check-input{
    width: 1.2em;
    height: 1.2em;
}
.filter_box .accordion-item .accordion-body .form-check-label{
    margin-left: 8px;
    margin-top: 5px;
}

.side_bar{
    position: sticky;
    top: 55px;
}

.tour_details .image-gallery-thumbnail{
    width: 12.3%;
}

.tour_details .image-gallery-thumbnail:hover,
.tour_details .image-gallery-thumbnail.active
{
    border-color: var(--primaryClr);
}
.tour_details .nav_bars{
    background-color: #f14b361a;
    padding: 8px;
}
.tour_details .nav_bars .nav-link{
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px;
    color: black;
}
.tour_details .nav_bars .nav-item{
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}
.tour_details .nav-pills .nav-link.active, 
.tour_details .nav-pills .show.nav-link{
    color: white;
    background-color: var(--primaryClr);
}
.tour_details .list-group-item{
    padding: 16px 0px;
    border: none;
    font-size: var(--bodyText);
    background: unset;
    line-height: 24px; 
}
.tour_details .list-group-item strong{
    font-weight: bold;
}

.tour_details .accordion,
.tour_details .accordion-item {
    border: none;
}
.tour_details .accordion-header button {
    background: #f5f5f6;
    border: none;
    border-radius: 8px;
}
.tour_details .accordion-header button:focus{
    border: none;
    outline: none;
    box-shadow: none !important;
}
.tour_details .card-info{
    background: #f5f5f6;
    border: none;

}
.tour_details .card-info i{
    color: var(--primaryClr);
}

.tour-details-container {
    width: 100%; 
    margin: 0 auto; 
    padding: 0 10px; 
}

.tour-details-container table {
    width: 100%;      
    margin-bottom: 20px;
    border-collapse: collapse; 
}

.content-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1000px;
}


.content-container p {
    text-align: justify;
    margin-bottom: 20px;
    color: black;
}
.accordion_body{
    font-size: 17px;
    max-height: 200px;
    overflow-y: auto;
}
.accordion-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 20px;

}
.accordion_header button {
    background-color: #f5f5f5; 
    transition: background-color 0.3s ease; 
}
.accordion_header button:hover {
    background-color: var(--primaryClr); 
    color: white; 
}
.rating__group span{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    cursor: pointer;
}
.tour__reviews
{
    border-radius: 0.5rem;
    border: 1px solid rgb(229, 231, 235);
    padding: 2rem;
}
.tour__reviews h4{
    margin-bottom: 3rem;
}

.review__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 2rem;
    padding: 0.7rem;
    border: 1px solid var(--primaryClr);
}

.review__input input{
    border: none;
    width: 100%;
    padding: 0.5rem 0;
}

.review__input input:focus{
    outline: none;
}

.review__item{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 2rem;

}

.review__item img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    object-fit: cover;
}

.user__review{
    margin-top: 2.5rem;
}

.review__item p{
    font-size: .9rem;
    color: var(--text-color);
}

.review__item h6{
    font-size: 1.1rem;
    color: var(--text-color);
}

.review__item span i{
    font-size: 1.2rem;
    color: var(--secondary-color);
}
.price-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 10px; 
}

.price-original,
.price-discounted {
    display: flex;
    align-items: center; 
}

.price-original h3,
.price-discounted h4 {
    margin: 0; 
}

.price-original p {
    font-weight: 600;
    color: #b1b1b1;
    text-decoration: line-through;
    margin-left: 168px;
    margin-top: 7px;
    font-size: 18px;
}
.price-discounted p {
    margin: 0; 
    font-weight: 650; 
    font-size: 25px;
    color: var(--primaryClr);
}
.calender-departure{
    font-size: 20px;
    margin-right: 15px;
}
.rbc-event{
    background-color: #fff !important;
}
.rbc-event-content{
    font-weight: 500;
}
.rbc-toolbar-label{
    text-transform: uppercase;
}
.secondaryBtn{
    color: var(--primaryClr);
    background-color: #fff;
    border-color: var(--primaryClr);
    border-radius: 4px;
    margin-right: 10px;
}
.button-selection{
    display: flex;
}
.image-gallery-image{
    border-radius: 10px;
}
.image-gallery-fullscreen-button {
    right: 210px;
}
.image-gallery-slide .image-gallery-image {
    width: 70%;
}
.tour-info-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.transport-info h3, .price_info h3 {
    font-size: 20px;
    color: #0b5da7;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
}

.transport-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
}

.departure, .arrival {
    text-align: center;
    width: 45%;
}

.transport-details::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #ccc;
    height: 100%;
    transform: translateX(-50%);
}

.flight-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.flight-number {
    color: #0b5da7;
    font-weight: bold;
    font-size: 16px;
}

.airline {
    margin-top: 10px;
    font-size: 14px;
    color: #ff0000;
}

.price_info {
    margin: 20px 0;
}

.price-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
}

.price-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
}
.price-item div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
    margin-left: 10px;
    gap: .5rem;
}
.price-item label{
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    width: 100%;
}
.price-item span {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2rem;
    color: #5d5d5d;
}
.price-item .price {
    color: var(--primaryClr);
    font-weight: bold;
    margin-right: 10px;
}

.price-details::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #ccc;
    height: 100%;
    transform: translateX(-50%);
}

/* Filter */

.find-tour-content{
    width: 100%;
}
.find-tour-content__container {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    height: 100%;
    gap: 2rem;
}
.find-tour-content__filter{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.filter-sidebar-header{
    color: #171717;
    margin: 2rem 0;
    text-align: left;
}
.find-tour-content__filter--main-filter{
    padding: 2rem 2rem;
    position: sticky;
    max-height: 95vh;
    top: 1rem;
    background: #f8f8f8;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
}
.find-tour-content__filter--main-filter--range{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
}
.find-tour-content__filter--main-filter--title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.4rem;
}
.find-tour-content__filter--main-filter--label{
    font-size: 16px;
    font-weight: 600;
}
.budget-filter-list{
    margin: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 0;
}
.budget-content__list--item{
    display: inline-flex;
    padding: 0.5rem 0.8rem;
    border: 1px solid #e5e5e5;
    font-size: 15px;
    border-radius: 0.5rem;
    width: 100%;
}
.budget-filter-list--item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    background-color: #fff;
}
.find-tour-content__filter--main-filter--option{
    width: 100%;
}

.find-tour-content__filter--main-filter--calendar{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.4rem;
}
.input-container input{
    border: none;
    outline: none;
    border: 1px solid #e5e5e5;
    padding: 10px;
    border-radius: 0.5rem;
    width: 100%;
}
.input-container {
    width: 100%;
}
.tag-container{
    margin: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 100%;
    height: 40px;
}
.tag-container button{
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.find-tour-content__filter--main-filter .btn-primary{
    background-color: #0b5da7;
    color: #fff !important;
    border: 1px solid #0b5da7;
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: all .3s;
    text-decoration: none;
}
/* filter tour list */
.find-tour-content__list{
    flex: 3 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    height: 100%;
}
.find-tour-content__list--header-result{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e5e5e5;
}
.find-tour-content__list--header-result .left-result{
    color: #171717;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.find-tour-content__list--header-result .right-sort{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 1rem;
    width: 45%;
}
.find-tour-content__list--header-result .left-filter {
    color: #171717;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.find-tour-content__list--header-result .left-filter p {
    margin: 0;
    color: #171717;
    margin: 20px;
}
.find-tour-content__list--header-result .left-filter p span {
    font-size: 20px;
    font-weight: 650;
    color: #0b5da7;
}
.find-tour-content__filter--main-filter--title span {
    font-size: 14px;
    font-weight: 550;
    color: #0b5da7;
}
.card-filter-desktop__content-header-title {
    font-size: 19px;
    line-height: 1.7rem;
    text-decoration: none;
    color: #171717;
}
.line-clamp{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    --webkit-webkit-box-orient: vertical;
}
.line-clamp-2{
    font-weight: 700;
    -webkit-line-clamp: 2;
}

.find-tour-content__list--header-result .right-sort--label {
   width: 35%;
   font-size: 18px;
   font-weight: 600;
}
.find-tour-content__list--header-result .right-sort--select {
    width: 65%;
 }
.react-select__single-value{
    font-weight: 550;
    font-size: 15px;
}
.find-tour-content__list--main{
    width: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.card-filter-desktop{
    border: 1px solid #e5e5e5;
    width: 100%;
    border-radius: 0.5rem;
    max-height: 35rem;
    height: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.card-filter-desktop__thumbnail{
    width: 40%;
    position: relative;
}
.card-filter-desktop__thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem 0 0 .5rem;
    position: absolute;
    top: 0;
    z-index: 1;
}
.card-filter-desktop__content{
    width: 60%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
.card-filter-desktop__content--info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.card-filter-desktop__content--info--item{
    width: 100%;
    gap: 1.5rem;
}
.flex-col-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.card-filter-desktop__content-header{
    width: 100%;
}
.card-filter-desktop__content--info-tour{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
}
.card-filter-desktop__content--info-tour--row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.card-filter-desktop__content--info-tour--item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1;
    gap: 0.8rem;
}
.card-filter-desktop__content--info-tour--item-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}
.card-filter-desktop__content--info-tour--item-wrapper-title{
    font-weight: 500;
    font-size: 16px;
}
.card-filter-desktop__content--info-tour--item-wrapper-content{
    margin: 0;
    font-size: 16px;

}
.info-tour-tourCode p{
    font-weight: 700;
    color: #171717;
}
.info-tour-departure p{
    font-weight: 700;
    color: #0b5da7;
}
.info-tour-calendar .infor-tour-dayStayText--time,
.info-tour-row .info-tour-dayStayText--time{
    flex: 1.5 1;
}
.info-tour-dayStayText p{
    color: #171717;
    font-weight: 500;
}
.info-tour-calendar{
    position: relative;
    gap: 0;
    width: 100%;
}
.info-tour-calendar, .info-tour-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.list-item__container{
    text-align: center;
    display: flex;
    align-items: center;
    width: 60%;
}
.departure-dates-list {
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #0b5da7;
    padding: 5px;
}

.nav-button:disabled {
    cursor: not-allowed;
    color: #ccc;
}

.date-item {
    padding: 5px 10px;
    border: 1px solid #e01600;
    border-radius: 5px;
    background-color: #fff;
    color: #e01600;
    font-size: 0.9rem;
    min-width: 60px;
    text-align: center;
}

.date-item:hover {
    background-color: #e01600;
    color: #fff;
}

.card-filter-desktop__content--price{
    width: 100%;
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.card-filter-desktop__content--price-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.card-filter-desktop__content--price-oldPrice label{
    font-size: 14px;
    font-weight: 500;
}
.card-filter-desktop__content--price-newPrice p{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #e01600;
}
.card-filter-desktop__content--price-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}
.card-filter-desktop__content--price-btn .button{
    border: 1px solid #e5e5e5;
    border-radius: 0.5rem;
    margin: 0;
    font-weight: 600;
}
.card-filter-desktop__content--price-btn .btn-md{
    padding: 8px 14px !important;
}
.card-filter-desktop__content--price-btn .btn-primary{
    background-color: #0b5da7;
    color: #fff !important;
    border: 1px solid #0b5da7;
    padding: .5rem 1rem;
    border-radius: .5rem;
    transition: all .3s;
    text-decoration: none;
}
.card-filter-desktop__content--price-btn .btn-primary:hover{
    background-color: #09508f;
    border: 1px solid #09508f;
}
.budget-filter-list--item:hover,
.tag-container_item:hover {
    cursor: pointer;
    color: #0b5da7;
    background: #daefff;
    border: 1px solid #0b5da7;
}
.budget-content__list--item.active,
.tag-container .active {
    background-color: #0b5da7;
    border: 1px solid #0b5da7;
    color: #fff;
}
.filter-noTour {
    width: 50%;
    height: auto;
}

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.pagination button {
    background-color: #09508f;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 20px;
}
.pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 650;
}